/*!
Theme Name: studiod
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.1
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: studiod
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

studiod is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/


/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/


/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/


/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%;
}

.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 100%;
  left: -999em;
  z-index: 99999;
}

.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}

.main-navigation ul ul li:hover>ul,
.main-navigation ul ul li.focus>ul {
  left: 100%;
}

.main-navigation ul ul a {
  width: 200px;
}

.main-navigation ul li:hover>ul,
.main-navigation ul li.focus>ul {
  left: auto;
}

.main-navigation li {
  float: left;
  position: relative;
}

.main-navigation a {
  display: block;
  text-decoration: none;
}


/* Small menu. */

.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: block;
  }
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}


/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/


/* Text meant only for screen readers. */

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}


/* Do not show the outline on the skip link target. */

#content[tabindex="-1"]:focus {
  outline: 0;
}


/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/

.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both;
}


/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */
}

.widget select {
  max-width: 100%;
}


/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/


/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/

.sticky {
  display: block;
}

.hentry {
  margin: 0 0 1.5em;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}


/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/

.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}


/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/


/* Globally hidden elements when Infinite Scroll is supported and in use. */

.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none;
}


/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */

.infinity-end.neverending .site-footer {
  display: block;
}


/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}


/* Make sure embeds and iframes fit their containers. */

embed,
iframe,
object {
  max-width: 100%;
}


/* Make sure logo link wraps around logo image. */

.custom-logo-link {
  display: inline-block;
}


/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/

.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.wp-caption-text {
  text-align: center;
}


/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/

.gallery {
  margin-bottom: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.gallery-columns-2 .gallery-item {
  max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
  max-width: 25%;
}

.gallery-columns-5 .gallery-item {
  max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
  max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  max-width: 11.11%;
}

.gallery-caption {
  display: block;
}


/*------------------------------------------------------------------
[Main Stylesheet]

Author: Gesign_Gapahma
Version:    1.0
Created:    28 June 2018
Last updated:   28 June 2018
Template:   Studuio Landing page Template
-------------------------------------------------------------------*/


/*------------------------------------------------------
Table of content
--------------------------------------------------------
1.General Styles
2.Preloader page
3.Navigation
4.Hero
5.About
6.Features
7.Projects
8.Team
9.Blog
10.Testimonials
11.Footer

/*----------------------------------------
General Styles
----------------------------------------*/

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 28px;
  overflow-x: hidden;
  color: #637282;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 10px;
  font-weight: 700;
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  display: block;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

a {
  text-decoration: none;
  transition: all 0.4s ease;
}

a:hover {
  color: #1968e0;
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  font-weight: 300;
}

hr.hr {
  margin: 50px 0;
  opacity: 0.75;
}

.row-centered {
  text-align: center;
  position: relative;
  width: 100%;
}

.col-centered {
  display: inline-block;
  float: none;
  text-align: center;
}

.color-white {
  color: #fff !important;
}

.color-black {
  color: #222;
}

.warpper {
  width: 100%;
  height: 100%;
}

.bg-color {
  background-color: #f8f9f9;
}

.bg-color-1 {
  background-color: #fa6262;
}


/*-------margins padding--------*/

.mg-tp-20 {
  margin-top: 20px;
}

.mg-tp-30 {
  margin-top: 30px;
}

.mg-tp-40 {
  margin-top: 40px;
}

.mg-tp-80 {
  margin-top: 80px;
}

.mg-bt-20 {
  margin-bottom: 20px;
}

.mg-bt-30 {
  margin-bottom: 30px;
}

.mg-bt-40 {
  margin-bottom: 40px;
}

.mg-bt-60 {
  margin-bottom: 60px!important;
}

.mg-tp-60 {
  margin-top: 60px;
}

.pd-bt-40 {
  padding-bottom: 40px;
}

.pd-bt-60 {
  padding-bottom: 60px;
}

.pd-bt-80 {
  padding-bottom: 80px;
}

.pd-tp-20 {
  padding-top: 20px;
}

.pd-tp-30 {
  padding-top: 30px;
}

.pd-tp-50 {
  padding-top: 50px;
}

.pd-tp-40 {
  padding-top: 40px;
}

.pd-tp-60 {
  padding-top: 60px;
}

.pd-tp-80 {
  padding-top: 80px;
}

.padd-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.padd-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.single-padd {
  padding-top: 80px;
  padding-bottom: 80px;
}

@media only screen and (max-width: 768px) {
.single-padd{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .bg-portflio-section {
    padding-bottom: 0;
  }
  .padd-title {
    padding: 0;
  }
}
.padd-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.padd-150 {
  padding-top: 150px;
  padding-bottom: 150px;
}

.padd-bt-0 {
  padding-bottom: 0 !important;
}

.container-page {
  margin-right: 50px;
  margin-left: 50px;
}

.padd-title {
  padding-bottom: 20px;
  padding-top: 150px;
}

.row-mag {
  margin-left: 0;
  margin-right: 0;
}


/*----------------------------------------
Buttons
----------------------------------------*/

.btn {
  padding: 10px 24px;
}

.btn-red {
  background-color: #fa6262;
  color: #fff;
  box-shadow: 0 5px 15px rgba(250, 98, 98, 0.4);
}

.btn-red:hover {
  background-color: #fa6262;
  color: #fff;
  box-shadow: 0 8px 25px rgba(250, 98, 98, 0.55);
}

.btn-white {
  width: 100%;
  background-color: #fff;
  color: #fa6262;
  border: 1px solid transparent;
}

.btn-white:hover,
.btn-white:focus {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}


/*----------------------------------------
Preloader page
----------------------------------------*/

#loading-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  background-color: #ffffff;
}

#loading-center-page {
  width: 100%;
  height: 100%;
  position: relative;
}

#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 150px;
  width: 150px;
  margin-top: -75px;
  margin-left: -75px;
}

.loader {
  width: 56px;
  height: 56px;
  border: 8px solid rgba(250, 98, 98, 0.25);
  border-top-color: #fa6262;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
  top: 50%;
  margin: -28px auto 0 auto;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}


/*----------------------------------------
Navigation
----------------------------------------*/

.navbar-header .dark-navbar li a,
.dark-navbar .search-box-btn {
  color: #171f3c!important;
}

.navbar-header {
  z-index: 999;
}

.navbar-brand {
  padding: 0;
}

.navbar-header .navbar {
  padding: 0;
}

.navbar-header .navbar.sticky li a,
.navbar-header .navbar.sticky .search-box-btn {
  color: #171f3c;
}

.navbar-header .navbar.sticky {
  background-color: #ffffff;
  box-shadow: 0 8px 28px 2px rgba(61, 61, 61, .12);
}

.search-box-btn {
  position: relative;
  font-size: 14px;
  color: #fff;
  margin-top: 0px;
  line-height: 50px;
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
}

.btn-outer .dropdown-menu {
  top: 50px;
  padding: 0px;
  z-index: 9999999;
  width: 250px;
  left: -200px;
  border-radius: 0px;
  border-top: 3px solid #171f3c;
}

.search-panel .form-container {
  padding: 25px 20px;
}

.search-panel .form-group {
  position: relative;
  margin: 0px;
}

.search-panel input[type="search"] {
  display: block;
  width: 100%;
  color: #777;
  line-height: 24px;
  padding: 7px 40px 7px 15px;
  height: 40px;
  border: 1px solid #e0e0e0;
  background: #ffffff;
}

.search-panel .search-btn {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 40px;
  border: none;
  height: 40px;
  text-align: center;
  color: #555555;
  font-size: 12px;
  background: none;
  cursor: pointer;
}

.btn-outer .dropdown-toggle::after {
  display: none;
}

.btn-outer {
  padding: 15px 18px;
}

.navbar-header .navbar-nav li a {
  color: #171f3c;
  font-size: 15px;
  padding: 15px 12px !important;
  font-weight: 500;
  line-height: 50px;
}

.icon_search {
  color: #171f3c;
}


/*----------------------------------------
Hero
----------------------------------------*/

.hero {
  /* background-image: url(../images/bg-image.jpg); */
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center 50%;
}

.hero:after {
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  background-color: rgba(23, 31, 60, 0.45);
}

.hero-text {
  position: relative;
  z-index: 999;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 40px;
}

.hero-text h2 {
  font-size: 60px;
  color: #fff;
  line-height: 65px;
  font-weight: 800;
  margin-top: 20px;
  margin-bottom: 15px;
}

.hero-text span {
  font-size: 35px;
  line-height: 55px;
  font-weight: 600;
  color: #fff;
  white-space: pre;
}

.hero-text p {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 25px;
  color: #fff;
  line-height: 35px;
  font-weight: 300;
}


/*----------------------------------------
About
----------------------------------------*/

// .icon-block img {
//   width: 50px;
//   margin-bottom: 25px;
//   height: auto;
// }

.icon-block svg {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
  }

.icon-block {
  margin-bottom: 35px;
}

.icon-block h3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  color: #07324f;
  margin-bottom: 25px
}


/*----------------------------------------
Features
----------------------------------------*/

.title-h2 {
  font-size: 42px;
  color: #171f3c;
  line-height: 46px;
  font-weight: 700;
}

p.font-p {
  color: #757384;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.video-bloc {
  background-image: url(../images/image-video.jpg);
  height: 600px;
  position: relative;
  background-size: cover;
  background-position: center 20%;
}

.video-bloc:before {
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  background-color: rgba(23, 31, 60, 0.45);
}

.text-video {
  padding-top: 120px;
  padding-bottom: 120px;
}

.text-video h2,
.text-video p {
  color: #fff;
}

.text-video p {
  margin-bottom: 50px;
}

.text-video h2 {
  font-size: 42px;
  line-height: 46px;
  margin-bottom: 35px;
}

.video-box img {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.video-box,
.bg-image-left {
  position: relative;
}

.ply-btn img {
  width: 80px;
}

.list-p li {
  position: relative;
  padding-left: 25px;
  color: #757384;
  font-weight: 600;
}

.list-p li:before {
  font-family: 'ElegantIcons';
  content: "\52";
  position: absolute;
  left: -5px;
  top: 3px;
  color: #fa6262;
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.progrees-bar-content span {
  font-weight: 600;
}

.progrees-bar-content {
  margin-bottom: 20px;
}

.progrees-bar-content .progress {
  margin-top: 5px;
  border-radius: 23px;
  -moz-border-radius: 23px;
  -webkit-border-radius: 23px;
}

.progrees-bar-content .progress-bar {
  background-color: #fa6262;
  border-radius: 23px;
  -moz-border-radius: 23px;
  -webkit-border-radius: 23px;
}

.icon-service {
  background-color: rgb(255, 255, 255);
  border-color: rgb(238, 238, 238);
  margin-top: 0px;
  width: 100px;
  display: inline-block;
  text-align: center;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 12px 38px 0px;
  border-width: 1px;
  border-style: solid;
}

.icon-service svg {
  width: 38px;
  height: 38px;
  margin-top: 30px;
  display: inline-block;
}

.icon-service::after {
  border-color: rgb(238, 238, 238);
  content: "";
  width: 75px;
  height: 75px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: 1px solid #fa6262;
  border-radius: 50%;
}

.service-block {
  text-align: center;
  position: relative;
  margin-bottom: 40px;
  padding: 15px 45px 0 45px;
}

.service-block h3 {
  color: #171f3c;
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 10px;
  line-height: 25px
}

.service-block img {
  width: 38px;
}

.service-block p {
  font-size: 14px;
  color: #757384;
  line-height: 24px;
}

.number-block span {
  color: #fff;
  display: block;
  font-size: 50px;
  line-height: 55px;
  font-weight: 700;
}

.number-block small {
  color: #fff;
  font-size: 16px;
}

.number-text {
  padding-left: 25px;
  border-left: 5px solid #fff;
}

.number-text p {
  color: #fff;
  font-size: 25px;
  line-height: 35px;
  font-weight: 600;
}

.number-block {
  padding-top: 15px;
}


/*----------------------------------------
Projects
----------------------------------------*/

.filter-tab,
.project-holder {
  position: relative;
  text-align: center;
  display: block;
}

.filter-tab .filter-btn {
  background-color: transparent;
  font-weight: 600;
  color: #637282;
}

.filter-tab .filter-btn:hover,
.filter-tab .filter-btn:active,
.filter-tab .filter-btn.active {
  background-color: #fa6262;
  color: #fff;
  box-shadow: 0 8px 25px rgba(250, 98, 98, 0.55);
}

.single-portfolio-content h3,
#projets h3 {
  margin-top: 30px;
  color: #171f3c;
  font-size: 20px;
}

.projetc-inner {
  margin-top: 25px;
}

#projets h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.project_product,
.project_product-two-columns {
  margin-bottom: 25px;
}

.project-holder {
  overflow: hidden;
  position: relative;
}

.project_product .text-holder {
  position: absolute;
  width: 100%;
  font-size: 18px;
  left: 0;
  height: 100%;
  margin: 0;
  top: 0;
  box-sizing: border-box;
  z-index: 999;
  -webkit-transition: opacity .6s .3s;
  transition: opacity .6s .3s;
  opacity: 0;
  pointer-events: auto;
  padding: 10%;
  background: rgba(250, 98, 98, 0.5) none repeat scroll 0 0;
}

.project_product .text-holder-outer {
  display: table;
  width: 100%;
  height: 100%;
}

.project_product .text-holder-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.project_product .text-holder-inner h4 {
  color: #fff;
}

.icons-holder {
  position: absolute;
  bottom: 0;
  opacity: 0;
  z-index: 20;
  -webkit-transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, transform .3s;
}

.icon-holder a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  margin: 12px 8px;
  font-size: 15px;
  color: #fa6262;
  background: #fff;
  transition: all .4s;
  -webkit-transition: all .4s;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.project_product:hover .text-holder {
  opacity: 1;
}

.project_product img {
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
  -webkit-transition: all 2s cubic-bezier(0.21, 1, 0.12, 1) 0s;
  transition: all 2s cubic-bezier(0.23, 1, 0.12, 1) 0s;
  min-height: 180px;
}

.project_product:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 5s cubic-bezier(0.21, 1, 0.12, 1) 0s;
  transition: all 5s cubic-bezier(0.21, 1, 0.12, 1) 0s;
}

.project_product .icons-holder {
  position: absolute;
  bottom: 0;
  opacity: 0;
  z-index: 20;
  -webkit-transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, transform .3s;
}

.project_product:hover .icons-holder {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.image-holder {
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  display: block;
  position: relative;
  overflow: hidden;
}

.projetc-inner img {
  width: 100%;
}

.bg-portflio-section,
.bg-blog-section {
  position: relative;
}

.bg-portflio-section:before,
.bg-blog-section:before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.3); */
  top: 0;
  left: 0;
}

.bg-portflio-section {
  height: 450px;
  overflow: hidden;
  display: flex;
}

.bg-portflio-section img{
  height: auto;
  width: 100%;
  align-self: center;
}
.bg-portflio-section:after {
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  display: block;
  z-index: 0;
}


.bg-portflio-section,
.bg-blog-section {
  padding-bottom: 120px;
}

.bg-portflio-section h2 span {
  display: inline-block;
  color: #fff;
}

.bg-portflio-section .title-h2,
.bg-blog-section .title-h2 {
  font-size: 38px;
  color: #fff;
}

.mt-64 {
  margin-top: 64px;
}

.portflio-section-title .title-h2 {
  font-size: 38px;
  position: relative;
  z-index: 5;
}

.portflio-section-title span {
  display: inline-block;
}

.portflio-section-title p.font-p {
  margin-bottom: 0;
}

.bg-portflio-section .font-p,
.bg-blog-section p {
  margin-bottom: 0;
  margin-top: 10px;
  color: #fff;
}

.bg-portflio-section small,
.bg-blog-section small {
  font-size: 15px;
  color: #fff;
}

.bg-portflio-section,
.bg-blog-section {
  background-size: cover;
  background-position: 50% 40%
}

.project_product-two-columns a:hover .project_product-two-columns-holder:before {
  opacity: 0.6;
}

.project_product-two-columns-holder:before {
  position: absolute;
  content: '';
  width: 100%;
  opacity: 0.3;
  height: 50%;
  background: -moz-linear-gradient(bottom, #252525 0%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-gradient(linear, left bottom, left bottom, color-stop(0%, #252525), color-stop(100%, rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(bottom, #252525 0%, rgba(0, 0, 0, 0) 100%);
  background: -o-linear-gradient(bottom, #252525 0%, rgba(0, 0, 0, 0) 100%);
  background: -ms-linear-gradient(bottom, #252525 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to bottom, #252525 0%, rgba(0, 0, 0, 0) 100%);
  top: 0;
  left: 0;
  z-index: 0;
}

.project_product-two-columns-holder {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
}

.project_product-two-columns-text {
  padding: 35px;
  z-index: 2;
  text-align: left;
  position: relative;
  color: #fff;
}

.project_product-two-columns-text h4 {
  color: #fff;
  font-size: 24px;
}

.project_product-two-columns-text p {
  color: #e6e6e6;
}

.project_product-two-columns a {
  display: block;
}

.project_product-one-columns .project-holder {
  overflow: inherit;
}

.project_product-one-columns {
  margin-bottom: 40px;
}

.project_product-one-columns a {
  display: block;
}

.project_product-one-columns a:hover {
  opacity: 0.7;
}

.project_product-one-columns-text h4 {
  margin-top: 15px;
  margin-bottom: 5px;
}

.project_product-one-columns img {
  width: 100%;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.single-portfolio-content img {
  width: 100%;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.single-portfolio-content h3 {
  margin-top: 30px;
  margin-bottom: 20px;
}

.info-portfolio {
  margin-top: 30px;
}

.info-portfolio {
  background: #f9f9f9;
  padding: 14px 24px;
  border-radius: 4px;
}

.info-portfolio ul li {
  padding: 10px 0;
  border-bottom: 1px solid #f2f2f2;
}

.info-portfolio ul li:last-child {
  border-bottom: none;
}

.info-portfolio ul li strong {
  float: left;
  display: block;
  width: 64px;
  font-weight: 700;
}

.info-portfolio ul li span {
  display: block;
  overflow: hidden;
}

.info-portfolio ul li a {
  color: #fa6262;
}

.related-projects .project_product {
  margin-bottom: 0;
  margin-top: 30px;
}

.portfolio-caroussel .owl-controls {
  position: absolute;
  top: 50%;
  width: 100%;
}

.portfolio-caroussel .owl-next,
.portfolio-caroussel .owl-prev {
  background: rgba(23, 31, 60, 0.3)!important;
  width: 50px;
  height: 50px;
  float: left;
  display: block!important;
  line-height: 50px;
}

.portfolio-caroussel .owl-next span,
.portfolio-caroussel .owl-prev span {
  font-size: 20px;
}

.portfolio-caroussel .owl-next {
  position: absolute;
  right: 0;
  left: auto;
}

.portfolio-caroussel .owl-prev {
  left: 0;
  right: auto;
}

.single-portfolio-content h3 {
  margin-bottom: 20px;
}

.mag-left {
  margin-left: 0;
  margin-right: 0;
}


/*----------------------------------------
Team
----------------------------------------*/

.team-bloc img {
  max-width: 100%;
}

.team-bloc {
  box-sizing: border-box;
  border: 1px solid #f0f0f0;
  background-color: #fff;
  position: relative;
  text-align: center;
}

.team-bloc h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 22px;
}

.team-bloc .social-icon {
  margin-top: 15px;
}

.team-bloc .social-icon li {
  display: inline-block;
  margin-right: 12px;
}

.team-bloc .social-icon li a {
  border-radius: 50%;
  display: inline-block;
  /* color: #75738487; */
  color: #757384;
  font-size: 13px;
  text-align: center;
}

.team-bloc img {
  float: left;
}

.team-bloc-inner {
  height: 240px;
  padding: 20px;
  overflow: hidden;
  text-align: left;
}

.team-bloc-inner span {
  color: #fa6262;
  font-style: italic;
}

.team-bloc img {
  width: 240px!important;
  float: left;
}

.team-caroussel .owl-controls {
  position: absolute;
  bottom: -70px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.team-caroussel.owl-theme .owl-dots .owl-dot.active span,
.team-caroussel.owl-theme .owl-dots .owl-dot:hover span {
  background: #171f3c;
}

.white {
  color: #fff;
  position: relative;
  z-index: 3;
}

/*----------------------------------------
Blog
----------------------------------------*/

.blog-title {
  font-size: 32px;
  color: #637282;
  margin-bottom: 16px;
  line-height: 1.2;
}

.blog-inner {
  border: 1px solid #f0f0f0;
  height: 100%
}

.blog-inner:hover,
.blog-inner:focus {
  box-shadow: 0 10px 35px 2px rgba(61, 61, 61, .12);
}

.blog-image {
  position: relative;
}

.blog-inner-content {
  padding: 15px;
}

.blog-date {
  padding: 3px 12px;
  text-align: center;
  color: #fff;
  box-shadow: 0 8px 25px rgba(250, 98, 98, 0.55);
  display: inline-block;
  background-color: #fa6262;
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.blog-date strong {
  display: block;
}

.blog-inner h3 a {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #171f3c;
}

.blog-inner .comment-blog {
  margin-bottom: 10px;
}

.blog-inner .comment-blog ul li {
  display: inline-block;
  margin-right: 15px;
}

.blog-inner .comment-blog ul li a {
  color: rgba(7, 50, 79, 0.54);
  font-size: 14px;
}

.blog-inner .comment-blog ul li a i {
  padding-right: 5px;
  color: #fa6262;
}

.blog-summary {
  text-align: left;
}

.blog-summary h3 {
  color: #171f3c;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.blog-meta ul li {
  font-size: 13px;
  font-weight: 600;
  position: relative;
  display: inline-block;
}

.blog-meta ul li:after {
  content: '|';
  margin: 0 6px;
  color: #d4d4d4;
}

.blog-meta ul li:last-child:after {
  display: none;
}

.blog-item {
  margin: 0 0 50px 0;
  padding: 0 0 50px 0;
  border-bottom: 1px solid #efefef;
}

.blog-item:last-child,
.medium-blog .blog-item:last-child {
  margin: 0;
  padding: 0;
  border-bottom: none;
}

.blog-item-img {
  position: relative;
}

.blog-item-img img {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border: 1px solid #ccc;
}

.blog-summary a {
  color: #fa6262;
}

.date {
  background: #fa6262;
  display: inline-block;
  border-radius: 20px;
  font-size: 13px;
  padding: 2px 15px;
  color: #fff;
  font-weight: 600;
  top: 15px;
  left: 15px;
  position: absolute;
}

.left-sidebar.sidebar-side {
  padding-left: 0;
  padding-right: 60px;
}

.sidebar-side {
  padding-left: 40px;
  padding-right: 30px;
}

.search {
  width: 100%;
  margin: 0 auto 0 auto;
}

.search-form {
  background-color: #f7f7f7;
  border: none;
  border-radius: 10px;
  max-width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.search-form input {
  background-color: #f7f7f7;
  border: none !important;
  outline: none !important;
  padding: 10px 20px;
  float: left;
  border-radius: 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 70%;
  font-size: 16px;
  color: #71818c;
}

.search-form button {
  width: auto;
  padding: 10px 20px;
  border: none !important;
  outline: none !important;
  background: none;
  float: right;
  color: #181b3a;
}

.sidebar-search,
.sidebar-categroies,
.sidebar-post {
  margin-bottom: 50px;
}

.sidebar-side h3 {
  color: #171f3c;
  font-size: 18px!important;
  margin-bottom: 20px;
  font-weight: 700;
}

.sidebar-categroies .catgeorie-list {
  position: relative;
}

.sidebar-categroies .catgeorie-list li {
  position: relative;
  line-height: 24px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.sidebar-categroies .catgeorie-list li:after {
  font-family: 'ElegantIcons';
  content: "\3d";
  position: absolute;
  top: 3px;
  right: 0;
  font-size: 14px;
  color: #cccccc;
}

.sidebar-categroies .catgeorie-list li a {
  color: #23527c;
  display: block;
}

.tags-inner a {
  position: relative;
  display: inline-block;
  margin: 0px 5px 8px 0px;
  line-height: 24px;
  padding: 8px 22px;
  background: #ffffff;
  border: 1px solid #e4e4e4;
  text-align: center;
  font-size: 14px;
  color: #637282;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.tags-inner a:hover,
.tags-inner a:focus {
  border-color: #fa6262;
  background-color: #fa6262;
  color: #fff;
}

.sidebar-post-inner {
  float: left;
  padding: 0;
  margin: 0 10px 10px 0;
}

.sidebar-post-inner img {
  width: 98px;
}

.sidebar-post-inner a {
  display: block;
  overflow: hidden;
  padding: 0;
  margin: 0;
  position: relative;
  border-radius: 2px;
}

.medium-blog .blog-item-img {
  float: left;
  width: 310px;
  margin: 0 20px 5px 0;
}

.medium-blog .blog-summary {
  overflow: hidden;
}

.medium-blog h3 {
  margin-top: 0;
}

.medium-blog .blog-summary p {
  margin-bottom: 5px;
}

.medium-blog .blog-item {
  margin: 0 0 40px 0;
  padding: 0 0 40px 0;
}

.blog-single-post h3 {
  color: #171f3c;
  font-size: 24px;
  margin-bottom: 20px;
}

.blog-single-post .blog-meta {
  margin-bottom: 30px;
}

.blog-single-post h2.p4 {
  font-size: 1.2rem;
  font-weight: bold;
}

.sharebox ul li {
  display: inline-block;
  margin-right: 15px;
}

.sharebox ul li i {
  padding-right: 8px;
}

.sharebox ul li a {
  color: #23527c;
}

.blog-single-post blockquote {
  margin-bottom: 30px;
  margin-top: 30px;
}

.blog-single-post blockquote p {
  font-size: 26px;
  line-height: 34px;
  font-style: italic;
  color: #181b3a;
}

.author-info {
  margin: 60px 0 30px 0;
  display: block;
  padding: 40px 0 0 0;
  border-top: 1px solid #efefef;
}

.author-info .author-image {
  float: left;
  width: 80px;
  height: 80px;
  border-radius: 4px;
  overflow: hidden;
  margin: 2px 30px 0 0;
}

.author-info .author-image img {
  display: block;
  width: 80px;
  height: 80px;
}

.author-info .author-bio {
  overflow: hidden;
}

.author-info .author-bio h4 {
  margin: 0;
  font-weight: 600;
  padding: 0 0 10px 0;
}

.commnent-blog h3 {
  font-size: 20px;
  margin-bottom: 40px;
}

.comment-blog-inner {
  padding-bottom: 8px;
  margin-bottom: 30px;
}

.avatar-blog img {
  float: left;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 60px;
  margin-right: 15px;
}

.comment-blog-text {
  background: #f9f9f9;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.comment-blog-text span {
  display: block;
  color: #181b3a;
  font-weight: 600;
}

.comment-blog-text small {
  color: #999;
}

.comment-blog-inner p {
  margin-top: 5px;
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
  color: #637282;
}

.comment-blog-text a {
  color: #181b3a;
}

.comments-reply {
  border-top: 1px solid #efefef;
  padding: 60px 0 0 0;
  margin: 0;
}


/*----------------------------------------
Testimonials
----------------------------------------*/

.col-left {
  position: relative;
  float: left;
  width: 50%;
}

.col-left-inner {
  position: relative;
  float: right;
  padding-right: 100px;
  width: 100%;
  max-width: 560px;
}

.col-right {
  position: relative;
  float: right;
  width: 50%;
}

.col-right-inner {
  position: relative;
  float: right;
  max-width: 100%;
  padding-top: 0;
  top: 0px;
  right: -50px;
  left: auto;
}

.quote {
  display: block;
}

.quote i {
  font-size: 120px;
  color: rgba(255, 255, 255, 0.3);
}

.item-inner {
  position: relative;
  padding: 15px;
}

.item-inner::before {
  font-family: 'ElegantIcons';
  content: "\7b";
  font-size: 250px;
  color: rgba(255, 255, 255, 0.15);
  position: absolute;
  top: 60px;
  left: 50%;
  margin-left: -130px;
}

.item-inner p {
  color: #fff;
}

.item-inner .icon_star {
  font-size: 13px;
  color: #ffdc66;
}

.avatar-item {
  margin-top: 30px;
}

.avatar-item img {
  border: 6px solid rgba(255, 255, 255, 0.4);
  width: 90px !important;
  height: auto;
  margin-right: 15px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.avatar-info {
  padding-top: 10px;
}

.avatar-info h4 {
  margin-bottom: 0;
  color: #fff;
}

.avatar-info span {
  color: #fff;
  font-size: 13px;
}

.testimonial-caroussel .owl-controls {
  position: absolute;
  bottom: -5px;
  left: 40%;
  transform: translate(40%, 50%);
}

.testimonial-caroussel.owl-theme .owl-dots .owl-dot.active span,
.testimonial-caroussel.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #fff !important;
  color: #fff;
}


/*----------------------------------------
Contact
----------------------------------------*/

.map iframe {
  width: 100%;
}

.contact-inner {
  position: relative;
}

.contact-inner form .form-group {
  margin-bottom: 30px;
}

.btn-map {
  position: relative;
  display: block;
  margin-top: 60px;
  cursor: pointer;
  font-size: 35px;
}

.btn-map::before {
  -webkit-animation: elasticus 2.4s cubic-bezier(1, 0, 0, 1) infinite;
  /* Safari 4+ */
  -moz-animation: elasticus 2.4s cubic-bezier(1, 0, 0, 1) infinite;
  /* Fx 5+ */
  -o-animation: elasticus 2.4s cubic-bezier(1, 0, 0, 1) infinite;
  /* Opera 12+ */
  animation: elasticus 2.4s cubic-bezier(1, 0, 0, 1) infinite;
  /* IE 10+, Fx 29+ */
  position: absolute;
  top: -50px;
  left: 50%;
  margin-left: -1px;
  width: 1px;
  height: 50px;
  background: #171f3c;
  content: ' ';
}

@-webkit-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}

@-moz-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}

@-o-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}

@keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -moz-transform-origin: 0% 0%;
    -o-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    -ms-transform: scale(1, 0);
    -moz-transform: scale(1, 0);
    -o-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}

.map-inner {
  display: block;
}

.content-map p {
  color: #fff;
}

.content-map form input[type="text"],
.content-map form input[type="email"],
.content-map form textarea {
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.10);
  border: none;
}

.content-map form input[type="text"],
.content-map form input[type="email"] {
  height: 45px;
}


/*----------------------------------------
Footer
----------------------------------------*/

.btn.btn-facebook:hover,
.btn.btn-facebook:focus,
.btn.btn-facebook:active {
  color: white;
  background-color: #3b5998;
  border-color: #3b5998;
}

.btn.btn-twitter:hover,
.btn.btn-twitter:focus,
.btn.btn-twitter:active {
  color: white;
  background-color: #55acee;
  border-color: #55acee;
}

.btn.btn-google-plus:hover,
.btn.btn-google-plus:focus,
.btn.btn-google-plus:hover {
  color: white;
  background-color: #dd4b39;
  border-color: #dd4b39;
}

.btn.btn-instgram:hover,
.btn.btn-instgram:focus,
.btn.btn-instgram:hover {
  color: white;
  background-color: #9b6954;
  border-color: #9b6954;
}

.subscribe-form {
  margin-top: 25px;
}

.list-social {
  padding-top: 15px;
}

.list-social li {
  display: inline-block;
  margin-right: 10px;
}

.list-social a {
  background-color: #fff;
  width: 35px;
  color: #fa6262;
  line-height: 35px;
  font-size: 14px;
  padding: 0;
  border-radius: 100%;
  height: 35px;
}

.list-social a i {
  line-height: 35px;
}

.footer-top {
  padding: 40px 0;
  background-color: #171f3c;
}

.footer-bottom {
  background-color: #0e142a;
  padding-top: 12px;
  padding-bottom: 12px;
}

.copyright {
  text-align: center;
}

.copyright p {
  margin: 0px auto;
  padding: 0px;
  color: #8688a4;
  font-size: 14px;
}

footer p.error-message {
  color: #e10438;
  margin-top: 5px;
  margin-bottom: 5px;
}

footer p.sucess-message {
  color: #4ec952;
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer-inner span {
  line-height: 45px;
  font-size: 13px;
}

#scrollUp {
  background: #fa6262;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  bottom: 30px;
  color: #ffffff;
  height: 50px;
  font-size: 30px;
  line-height: 3;
  right: 30px;
  line-height: 50px;
  text-decoration: none;
  text-align: center;
  width: 50px;
}

.text-footer p {
  color: #adafc7;
}

.footer-top h5 {
  color: #fff;
  font-size: 16px;
}

.footer-top .list-menu a {
  line-height: 28px;
  color: #adafc7;
}

.list-contact li {
  color: #adafc7;
  line-height: 32px;
}

.subscribe-form .form-control {
  outline: none;
  float: left;
  height: 45px;
  width: 89%;
  color: #fff;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -wbekit-border-radius: 4px;
  padding: 0 15px 0 15px;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  transition: all .3s;
  background-color: rgba(255, 255, 255, 0.15);
  border: none;
}

.subscribe-form .btn-subscribe {
  position: relative;
  margin-top: 15px;
  height: 45px;
  width: 100%;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -wbekit-border-radius: 4px;
  padding: 0 15px 0 15px;
  color: #fff;
  background: #fa6262;
}

.btn-subscribe:hover,
.btn-subscribe:focus,
.btn-subscribe:active {
  background: #fa6262;
  color: #fff;
}

.content-map p {
  color: #637282;
  font-size: 20px;
}

.content-map p:first-type {
  margin-top: 20px;
}


/* Responsive */

@media only screen and (max-width: 990px) {
  .bg-portflio-section {
    height: 300px;
  }

  .shapes-bg {
    display: none;
  }
  .navbar-toggler {
    color: #171f3c;
    font-size: 35px;
    line-height: 38px;
    padding: 5px 0;
    margin-right: 15px;
  }
  .navbar-nav {
    background-color: #fff;
  }
  .navbar-toggler-icon {
    height: 35px;
    width: 35px;
    line-height: 35px;
  }
  .navbar-brand {
    margin: 0;
  }
  .hero {
    height: 100%;
  }
  .hero-text h2 {
    font-size: 35px;
  }
  .icon-block {
    margin-top: 20px;
    margin-bottom: 25px;
  }
  .col-left,
  .col-right,
  .btn-outer .dropdown-menu {
    width: 100%;
  }
  .col-right-inner {
    right: 0;
  }
  .navbar-header .navbar-nav li a {
    color: #fff;
    color: #171f3c;
    font-size: 15px;
    padding: 10px 12px !important;
    font-weight: 500;
    line-height: 30px;
  }
  .navbar-collapse.show .navbar-nav {
    box-shadow: 0 8px 28px 2px rgba(61, 61, 61, .12);
  }
  .btn-outer {
    padding: 5px 18px;
  }
  .search-box-btn {
    color: #171f3c;
  }
  .ply-btn {
    top: 15%;
    left: 25%;
  }
  .features-text h2,
  .number-text,
  .testimonial-caroussel {
    margin-top: 25px;
  }
  .list-p,
  .team-bloc,
  .blog-inner,
  .sidebar-tags {
    margin-bottom: 25px;
  }
  .col-left-inner {
    padding-right: 0;
  }
  .left-sidebar.sidebar-side {
    padding-right: 0;
  }
  .search {
    width: 100%;
  }
  .title-h2 {
    font-size: 35px;
  }
  .medium-blog .blog-summary {
    overflow: visible;
    margin-top: 10px;
    padding-top: 20px;
    clear: both;
  }
  .subscribe-form .form-control {
    width: 90%;
  }
  .medium-blog .blog-item-img {
    width: 100%;
  }
  .footer-top h5 {
    margin-bottom: 20px;
    /* margin-top: 20px;*/
  }
  .sidebar-side {
    margin-top: 50px;
    padding-left: 0;
    padding-right: 0;
  }
  .portflio-section-title .title-h2 {
    font-size: 18px;
    line-height: 24px;
  }
  .project_product-one-columns {
    padding-left: 15px;
    padding-right: 15px;
  }
  #projets h3 {
    padding-top: 25px;
  }
  .comments-reply {
    margin-bottom: 40px;
  }
  .content-map {
    position: relative;
    width: 100%;
    height: 455px;
    left: 0;
    margin-left: 0;
  }
  .bg-image-left {
    min-height: 430px;
  }
  .team-bloc img {
    width: 100%;
  }
  #about-features .row {
    margin-left: 0;
    margin-right: 0;
  }
  .bg-left {
    padding: 80px 40px;
  }
  .bg-image-left {
    min-height: 400px;
  }
  .container-page {
    margin-right: 30px;
    margin-left: 30px;
  }
  .navbar-header .navbar {
    padding-left: 15px;
    padding-right: 15px;
  }
  .right-nav ul li:first-child {
    display: none;
  }
  .panel .menu-btn {
    margin-right: 80px;
  }
  .sidebar-post-inner img {
    width: 85px;
  }
  .content-map form input[type="text"],
  .content-map form input[type="email"] {
    margin-bottom: 15px;
  }
  .team-bloc img {
    float: none;
    width: 100% !important;
  }
  .padd-title {
    padding-bottom: 0;
  }
  .hero-text {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  #about .btn {
    margin-bottom: 25px;
  }
  .video-bloc {
    height: auto;
  }
  .testimonial-caroussel .owl-controls {
    left: 30%;
    transform: translate(30%, 50%);
  }
  .team-caroussel {
    padding: 20px;
  }
  .team-caroussel .owl-controls {
    bottom: -30px;
  }
  .bg-portflio-section {
    padding-bottom: 120px;
  }
  .form-comment .form-control {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .content-map form input[type="text"],
  .content-map form input[type="email"] {
    margin-bottom: 15px;
  }
  .team-bloc img {
    float: none;
    width: 100% !important;
  }
  .sidebar-side {
    padding-left: 0;
    padding-right: 0;
  }
  .sidebar-post-inner img {
    width: 55px;
  }
  .tags-inner a {
    font-size: 13px;
    padding: 8px 10px;
  }
  .shapes-bg {
    display: none;
  }
  .bg-image-left {
    min-height: 430px;
  }
  .list-p {
    margin-bottom: 40px;
  }
  .hero {
    height: 100%;
  }
  #about-features .row {
    margin-left: 0;
    margin-right: 0;
  }
  .btn-outer .dropdown-menu {
    width: 100%;
  }
  .col-right-inner {
    right: 0;
  }
  .ply-btn {
    top: 50%;
    left: 40%;
  }
  list-p {
    margin-bottom: 25px;
  }
  .container-page {
    margin-right: 35px;
    margin-left: 35px;
  }
  .subscribe-form .form-control {
    width: 80%;
  }
  .list-social li {
    margin-right: 3px;
  }
  .list-social a {
    height: 28px;
    width: 28px;
    line-height: 28px;
    font-size: 12px;
  }
  .list-social a i {
    line-height: 28px;
  }
  .left-sidebar.sidebar-side {
    padding-right: 0;
  }
  .search button {
    padding: 10px;
  }
  .medium-blog .blog-summary {
    overflow: visible;
    margin-top: 10px;
    padding-top: 20px;
    clear: both;
  }
  .subscribe-form .form-control {
    width: 80%;
  }
  .medium-blog .blog-item-img {
    width: 100%;
  }
  .testimonial-caroussel .owl-controls {
    bottom: 0;
  }
  .testimonial-caroussel .owl-controls {
    left: 35%;
    transform: translate(35%, 50%);
  }
  .hero-text {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .number-text p {
    font-size: 20px;
  }
  .team-caroussel {
    padding: 20px;
  }
  .portflio-section-title .title-h2 {
    font-size: 28px;
  }
  .blog-item {
    margin: 0 0 40px 0;
    padding: 0 0 40px 0;
  }
}

@media only screen and (min-width:1024px) and (max-width: 1200px) {
  .hero-text {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .col-right-inner {
    right: 0;
  }
  .sidebar-post-inner img {
    width: 60px;
  }
  .hero {
    height: 100%;
  }
  .tags-inner a {
    font-size: 13px;
    padding: 8px 10px;
  }
  .subscribe-form .form-control {
    width: 85%;
  }
  .left-sidebar.sidebar-side {
    padding-right: 20px;
  }
  .search button {
    padding: 10px;
  }
  .testimonial-caroussel .owl-controls {
    bottom: -20px;
  }
  .portflio-section-title .title-h2 {
    font-size: 30px;
  }
  .blog-item {
    margin: 0 0 35px 0;
    padding: 0 0 35px 0;
  }
}

.logo-img {
  width: 30px;
  margin-right: 4px;
}

.black {
  color: #171f3c;
}

.logo-footer {
  color: #fff;
}

.client-item-img {
  opacity: 0.5;
}